node-red/flows.json
[{"id":"86879709.27b488","type":"tab","label":"Presence Detection","disabled":false,"info":""},{"id":"872e932c.8cdbb","type":"tab","label":"Welcome","disabled":false,"info":""},{"id":"eda6cdb2.e166a","type":"subflow","name":"nmap scan","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"307f8dd7.c3c852"}]}],"out":[{"x":694,"y":87,"wires":[{"id":"74131e2b.dae29","port":0}]},{"x":694,"y":167,"wires":[{"id":"74131e2b.dae29","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"21aaf2d9.e3ecbe","type":"subflow","name":"OLD - Single","info":"","category":"","in":[{"x":40,"y":220,"wires":[{"id":"50ad0dae.eb9d74"}]}],"out":[{"x":1400,"y":220,"wires":[{"id":"f43b2ad3.a8f1f8","port":0},{"id":"8c238ff1.f2e1c","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"704c4a2d.0c3884","type":"subflow","name":"OLD - Cyclic","info":"","category":"","in":[{"x":80,"y":280,"wires":[{"id":"e2dac0f6.36909"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"df3e74d0.6966b8","type":"subflow","name":"Continuous Calc Device Connection","info":"","category":"","in":[{"x":120,"y":160,"wires":[{"id":"e5452666.d03a88"}]}],"out":[{"x":1040,"y":160,"wires":[{"id":"4196e031.ce8d7","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ae06d5f1.16cb08","type":"subflow","name":"Single Calc Device Connection","info":"","category":"","in":[{"x":160,"y":380,"wires":[{"id":"c9f609aa.8ad258"}]}],"out":[{"x":920,"y":380,"wires":[{"id":"cdd718e6.ad4308","port":0},{"id":"bd74cda6.c1b78","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b2096e98.98e0d","type":"server","name":"Home Assistant","addon":true},{"id":"e447d17a.16a64","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"fded1d1f.b9dbd","type":"Stackhero-MySQL-Server","name":"dphouse","host":"localhost","port":"3306","tls":true,"database":"dphouse"},{"id":"5bde88e3.cbd7a8","type":"server-state-changed","z":"86879709.27b488","name":"Salvatore GPS","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.salvatore","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":121.0000114440918,"y":836.0000009536743,"wires":[[],["ddd34602.618d28"]]},{"id":"6775c3f9.6bb49c","type":"server-state-changed","z":"86879709.27b488","name":"Gloria GPS","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.gloria","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":103.00000762939453,"y":888.999997138977,"wires":[[],["10525821.7c7558"]]},{"id":"2c445e1f.06e752","type":"api-call-service","z":"86879709.27b488","name":"Set Home","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":521.0000114440918,"y":356.0000009536743,"wires":[["60648673.f647b8","ca65878c.95c0f8"]]},{"id":"ddd34602.618d28","type":"api-current-state","z":"86879709.27b488","name":"Gloria GPS","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.gloria","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":322.00000762939453,"y":841.999997138977,"wires":[[],["673673f6.cc5a3c"]]},{"id":"10525821.7c7558","type":"api-current-state","z":"86879709.27b488","name":"Salvatore GPS","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.salvatore","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":331.00003814697266,"y":895.000018119812,"wires":[[],["673673f6.cc5a3c"]]},{"id":"14cad1f.770872e","type":"api-call-service","z":"86879709.27b488","name":"Set Away","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":749.8960342407227,"y":859.8888826370239,"wires":[["215d7121.affa6e","d13fec17.6bca8"]]},{"id":"c57f64d.2ccdf98","type":"server-state-changed","z":"86879709.27b488","name":"Gloria connected","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.gloria_connected","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130.99993133544922,"y":326.99996757507324,"wires":[["46317c8d.752174"],[]]},{"id":"1450f4bd.772edb","type":"server-state-changed","z":"86879709.27b488","name":"Salvatore connected","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.salvatore_connected","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":139.89580535888672,"y":376.8888530731201,"wires":[["46317c8d.752174"],[]]},{"id":"46317c8d.752174","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":345.9999656677246,"y":349.99997329711914,"wires":[[],["2c445e1f.06e752"]]},{"id":"673673f6.cc5a3c","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":545.8958511352539,"y":866.8888826370239,"wires":[["14cad1f.770872e"],[]]},{"id":"4c84a673.e72928","type":"api-call-service","z":"86879709.27b488","name":"iPhone notification","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone_di_salvatore","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1411.0000114440918,"y":516.0000009536743,"wires":[[]]},{"id":"2bd6f171.644bae","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"set","p":"tmp","pt":"msg","to":"payload","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.message","pt":"msg","to":"tmp","tot":"jsonata"},{"t":"delete","p":"tmp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1001.0000114440918,"y":456.0000009536743,"wires":[["4c84a673.e72928"]]},{"id":"215d7121.affa6e","type":"api-current-state","z":"86879709.27b488","name":"Lights on","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.luci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":981.0000114440918,"y":796.0000009536743,"wires":[["da51d53a.abeeb8"],["c28a439.89d19c"]]},{"id":"d13fec17.6bca8","type":"api-current-state","z":"86879709.27b488","name":"Covers open","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.all","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":981.0000114440918,"y":936.0000009536743,"wires":[["f8c253fd.f5ed9"],["1b6a7600.a9d85a"]]},{"id":"962d3acd.0992b8","type":"join","z":"86879709.27b488","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1650,"y":880,"wires":[["430810a9.528d8"]]},{"id":"da51d53a.abeeb8","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci accese","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226.9999809265137,"y":791.0000455379486,"wires":[["e4437350.9b31e"]]},{"id":"e4437350.9b31e","type":"change","z":"86879709.27b488","name":"group id and count","rules":[{"t":"set","p":"parts.id","pt":"msg","to":"mygroup","tot":"str"},{"t":"set","p":"parts.count","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":880,"wires":[["962d3acd.0992b8"]]},{"id":"f8c253fd.f5ed9","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle aperte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230.0000114440918,"y":931.0001211166382,"wires":[["e4437350.9b31e"]]},{"id":"e8a002ed.74b8c","type":"debug","z":"86879709.27b488","name":"notification","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1271.0000114440918,"y":616.0000009536743,"wires":[]},{"id":"c28a439.89d19c","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci spente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226.895793914795,"y":845.5555875301361,"wires":[["e4437350.9b31e"]]},{"id":"1b6a7600.a9d85a","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle chiuse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1231.9999961853027,"y":969.9999856948853,"wires":[["e4437350.9b31e"]]},{"id":"430810a9.528d8","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"set","p":"tmp","pt":"msg","to":"$join(payload,\", \")","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.title","pt":"msg","to":"Casa vuota","tot":"str"},{"t":"set","p":"payload.data.message","pt":"msg","to":"tmp","tot":"jsonata"},{"t":"delete","p":"tmp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1001.0000114440918,"y":596.0000009536743,"wires":[["e8a002ed.74b8c","4c84a673.e72928"]]},{"id":"7567cb20.c806d4","type":"api-call-service","z":"86879709.27b488","name":"Alexa TTS","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.text_to_speech","data":"{\"entity_id\":\"script.text_to_speech\",\"variables\":{\"media_player_id\":\"media_player.2o_echo_dot_di_salvatore\",\"message\":\"{{payload}}\",\"volume_level\":25}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1711.0000114440918,"y":236.00000095367432,"wires":[[]]},{"id":"97aa42b4.63964","type":"api-current-state","z":"86879709.27b488","name":"Gloria connected","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.gloria_connected","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1051.0000114440918,"y":276.0000009536743,"wires":[["5c2ebf63.b188e"],["5c2ebf63.b188e"]]},{"id":"fa057c27.4cbef","type":"api-current-state","z":"86879709.27b488","name":"Salvatore connected","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.salvatore_connected","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1061.0000114440918,"y":216.00000095367432,"wires":[["5c2ebf63.b188e"],["5c2ebf63.b188e"]]},{"id":"94bc2765.7d2cd8","type":"debug","z":"86879709.27b488","name":"TTS","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1531.0000038146973,"y":162.99999618530273,"wires":[]},{"id":"5c2ebf63.b188e","type":"function","z":"86879709.27b488","name":"Build message","func":"context.data = context.data || {}\nif (msg.data.entity_id == \"input_boolean.gloria_connected\") {\n    if (msg.data.state == \"on\") context.data.gloria_home = true\n    else                        context.data.gloria_home = false\n}\nif (msg.data.entity_id == \"input_boolean.salvatore_connected\") {\n    if (msg.data.state == \"on\") context.data.salvatore_home = true\n    else                        context.data.salvatore_home = false\n}\nif (context.data.gloria_home != null && context.data.salvatore_home != null)\n{\n    if (context.data.gloria_home && context.data.salvatore_home)\n        msg = { \"payload\": \"Bentornati a casa\" }\n    else if (context.data.gloria_home)\n        msg = { \"payload\": \"Bentornata a casa, Gloria\" }\n    else if (context.data.salvatore_home)\n        msg = { \"payload\": \"Bentornato a casa, Salvatore\" }\n    context.data = null\n} else msg = null\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1301.0000038146973,"y":242.99999618530273,"wires":[["94bc2765.7d2cd8","b21cc280.2046c","2bd6f171.644bae"]]},{"id":"60648673.f647b8","type":"api-call-service","z":"86879709.27b488","name":"Call welcome scene","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.welcome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":761.0000114440918,"y":276.0000009536743,"wires":[[]]},{"id":"b21cc280.2046c","type":"time-range-switch","z":"86879709.27b488","name":"","lat":"41.85157814930541","lon":"12.478328347206117","startTime":"09:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":1531.0000038146973,"y":242.99999618530273,"wires":[["7567cb20.c806d4"],[]]},{"id":"ca65878c.95c0f8","type":"delay","z":"86879709.27b488","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":781.0000114440918,"y":356.0000009536743,"wires":[["97aa42b4.63964","fa057c27.4cbef"]]},{"id":"e99c64f1.eef278","type":"server-events","z":"872e932c.8cdbb","name":"","server":"b2096e98.98e0d","event_type":"nodered_light_up_zone","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":181.00008392333984,"y":110.0000057220459,"wires":[["c738ae1b.c56cb"]]},{"id":"cebdf4c4.95baa8","type":"server-events","z":"872e932c.8cdbb","name":"","server":"b2096e98.98e0d","event_type":"nodered_goodmorning_raw","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":200,"y":300,"wires":[["e7e98d4f.60065"]]},{"id":"e7e98d4f.60065","type":"api-current-state","z":"872e932c.8cdbb","name":"Salvatore @home","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.iphone_di_salvatore","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":300,"wires":[["363cf81a.21ffa8"],[]]},{"id":"363cf81a.21ffa8","type":"ha-fire-event","z":"872e932c.8cdbb","name":"Illumina zona giorno","server":"b2096e98.98e0d","event":"light_up_zone","data":"{\"cover_entity\":\"cover.study\",\"cover_position\":0,\"light_entity\":\"light.led_pensili\"}","dataType":"json","x":742.0000076293945,"y":294.0000057220459,"wires":[[]]},{"id":"db60adb6.09e6f","type":"api-current-state","z":"872e932c.8cdbb","name":"Sun above horizon","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":704.0000991821289,"y":110.9999828338623,"wires":[["119e3461.619a5c"],["e008e4d.5a2f718"]]},{"id":"119e3461.619a5c","type":"api-call-service","z":"872e932c.8cdbb","name":"Open cover","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"cover","service":"set_cover_position","entityId":"","data":"{\"entity_id\":\"{{event_payload.event.cover_entity}}\",\"position\":\"{{event_payload.event.cover_position}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1144.000228881836,"y":80.99998188018799,"wires":[[]]},{"id":"c738ae1b.c56cb","type":"change","z":"872e932c.8cdbb","name":"Save payload","rules":[{"t":"move","p":"payload","pt":"msg","to":"event_payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":494.0000991821289,"y":110.9999828338623,"wires":[["db60adb6.09e6f"]]},{"id":"ef0c2c73.66aea","type":"api-call-service","z":"872e932c.8cdbb","name":"Turn on light","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{event_payload.event.light_entity}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1148.0002059936523,"y":142.9999885559082,"wires":[[]]},{"id":"e008e4d.5a2f718","type":"switch","z":"872e932c.8cdbb","name":"light passed","property":"event_payload.event.light_entity","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":914.0000686645508,"y":144.00000381469727,"wires":[["ef0c2c73.66aea"]]},{"id":"c43bcf07.4070d","type":"exec","z":"eda6cdb2.e166a","command":"","addpay":"nmap_command","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nmap scan","x":390,"y":140,"wires":[["74131e2b.dae29"],[],[]]},{"id":"74131e2b.dae29","type":"switch","z":"eda6cdb2.e166a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^Host is up","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":564,"y":127,"wires":[[],[]]},{"id":"307f8dd7.c3c852","type":"function","z":"eda6cdb2.e166a","name":"nmap command","func":"msg.nmap_command = `nmap -sn ${msg.ip} | grep \"Host is up\"`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":140,"wires":[["c43bcf07.4070d"]]},{"id":"49bd293f.ab9d68","type":"api-call-service","z":"21aaf2d9.e3ecbe","name":"Set Connected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":80,"wires":[[]]},{"id":"91595a93.2165f8","type":"debug","z":"21aaf2d9.e3ecbe","name":"Not Connected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":280,"wires":[]},{"id":"be4af8cd.9f8368","type":"debug","z":"21aaf2d9.e3ecbe","name":"Connected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":140,"wires":[]},{"id":"25f82c16.b13ba4","type":"api-call-service","z":"21aaf2d9.e3ecbe","name":"Set Disconnected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":340,"wires":[[]]},{"id":"a424607f.89ce8","type":"api-current-state","z":"21aaf2d9.e3ecbe","name":"Get Current Status","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.{{entity}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":200,"wires":[[],["be4af8cd.9f8368","49bd293f.ab9d68","f43b2ad3.a8f1f8"]]},{"id":"50ad0dae.eb9d74","type":"subflow:eda6cdb2.e166a","z":"21aaf2d9.e3ecbe","name":"nmap scan","env":[],"x":190,"y":220,"wires":[["a424607f.89ce8","3d0aa49d.242d4c"],["54890e73.089a2","5a3509ee.6b20c8"]]},{"id":"3d0aa49d.242d4c","type":"debug","z":"21aaf2d9.e3ecbe","name":"UP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"54890e73.089a2","type":"debug","z":"21aaf2d9.e3ecbe","name":"DOWN","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":300,"wires":[]},{"id":"5a3509ee.6b20c8","type":"api-current-state","z":"21aaf2d9.e3ecbe","name":"Get Current Status","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.{{entity}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":240,"wires":[["91595a93.2165f8","25f82c16.b13ba4","8c238ff1.f2e1c"],[]]},{"id":"8c238ff1.f2e1c","type":"change","z":"21aaf2d9.e3ecbe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":240,"wires":[[]]},{"id":"f43b2ad3.a8f1f8","type":"change","z":"21aaf2d9.e3ecbe","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":200,"wires":[[]]},{"id":"444087e9.088078","type":"change","z":"704c4a2d.0c3884","name":"Set slow delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"180000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["bd721641.6dfce8"]]},{"id":"783e7208.2d658c","type":"trigger","z":"704c4a2d.0c3884","name":"Slow trigger","op1":"1","op2":"2","op1type":"str","op2type":"str","duration":"-600","extend":false,"overrideDelay":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1150,"y":80,"wires":[["c37a8efe.b768f","6bd5a4af.eac91c"]]},{"id":"6bd5a4af.eac91c","type":"debug","z":"704c4a2d.0c3884","name":"Slow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":80,"wires":[]},{"id":"b4b5e74f.07ba28","type":"change","z":"704c4a2d.0c3884","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["783e7208.2d658c"]]},{"id":"bb9e38ca.408b28","type":"change","z":"704c4a2d.0c3884","name":"Set fast interval","rules":[{"t":"set","p":"delay","pt":"msg","to":"10000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":460,"wires":[["7bdf460c.33e3e8"]]},{"id":"4ad4fc8c.b37464","type":"trigger","z":"704c4a2d.0c3884","name":"Fast trigger","op1":"1","op2":"2","op1type":"str","op2type":"str","duration":"-600","extend":false,"overrideDelay":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":460,"wires":[["c37a8efe.b768f","ff696e1c.483c6"]]},{"id":"ff696e1c.483c6","type":"debug","z":"704c4a2d.0c3884","name":"Fast","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":460,"wires":[]},{"id":"90c64e4b.66462","type":"change","z":"704c4a2d.0c3884","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[["4ad4fc8c.b37464"]]},{"id":"41dd96ba.670f98","type":"debug","z":"704c4a2d.0c3884","name":"ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"e2dac0f6.36909","type":"api-current-state","z":"704c4a2d.0c3884","name":"Connected","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.{{entity}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":270,"y":280,"wires":[["41dd96ba.670f98","444087e9.088078"],["5e9d61fb.d62eb","bb9e38ca.408b28"]]},{"id":"5e9d61fb.d62eb","type":"debug","z":"704c4a2d.0c3884","name":"OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"c37a8efe.b768f","type":"subflow:21aaf2d9.e3ecbe","z":"704c4a2d.0c3884","name":"","env":[],"x":1210,"y":280,"wires":[["cab12013.5f851"]]},{"id":"bd721641.6dfce8","type":"delay","z":"704c4a2d.0c3884","name":"First delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":80,"wires":[["783e7208.2d658c"]]},{"id":"7bdf460c.33e3e8","type":"delay","z":"704c4a2d.0c3884","name":"First delay","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":460,"wires":[["4ad4fc8c.b37464"]]},{"id":"cab12013.5f851","type":"switch","z":"704c4a2d.0c3884","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":280,"wires":[["3a72568d.c6139a"],["c7d0029f.8400d"]]},{"id":"bfb287d.c1d4a78","type":"link in","z":"704c4a2d.0c3884","name":"","links":["3a72568d.c6139a"],"x":575,"y":180,"wires":[["444087e9.088078","90c64e4b.66462"]]},{"id":"3a72568d.c6139a","type":"link out","z":"704c4a2d.0c3884","name":"","links":["bfb287d.c1d4a78"],"x":1635,"y":240,"wires":[]},{"id":"c7d0029f.8400d","type":"link out","z":"704c4a2d.0c3884","name":"","links":["248be1db.9d394e"],"x":1635,"y":320,"wires":[]},{"id":"248be1db.9d394e","type":"link in","z":"704c4a2d.0c3884","name":"","links":["c7d0029f.8400d"],"x":575,"y":320,"wires":[["b4b5e74f.07ba28","bb9e38ca.408b28"]]},{"id":"30ff439d.8fbe7c","type":"api-call-service","z":"ae06d5f1.16cb08","name":"Set Connected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1260,"y":240,"wires":[[]]},{"id":"4a2ea12d.5accf","type":"api-current-state","z":"ae06d5f1.16cb08","name":"Get Current Status","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.{{entity}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1030,"y":200,"wires":[[],["30ff439d.8fbe7c","f2a33bf6.a92558"]]},{"id":"c9f609aa.8ad258","type":"subflow:eda6cdb2.e166a","z":"ae06d5f1.16cb08","name":"nmap scan","env":[],"x":310,"y":380,"wires":[["cdd718e6.ad4308"],["bd74cda6.c1b78"]]},{"id":"56f2c2c9.a164fc","type":"api-call-service","z":"ae06d5f1.16cb08","name":"Set Disconnected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":480,"wires":[[]]},{"id":"4b7bc21e.91301c","type":"debug","z":"ae06d5f1.16cb08","name":"Set Connection = OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity","targetType":"jsonata","statusVal":"","statusType":"auto","x":1360,"y":560,"wires":[]},{"id":"dd36ae65.09162","type":"delay","z":"df3e74d0.6966b8","name":"Dynamic Delay","pauseType":"delayv","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":160,"wires":[["4196e031.ce8d7"]]},{"id":"4196e031.ce8d7","type":"subflow:ae06d5f1.16cb08","z":"df3e74d0.6966b8","name":"","env":[],"x":790,"y":160,"wires":[["dd36ae65.09162"]]},{"id":"cdd718e6.ad4308","type":"change","z":"ae06d5f1.16cb08","name":"Found","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"},{"t":"set","p":"down_cnt","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"delay","pt":"msg","to":"180000","tot":"num"},{"t":"set","p":"current_wait","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":320,"wires":[["4a2ea12d.5accf"]]},{"id":"d975469f.060f08","type":"api-current-state","z":"ae06d5f1.16cb08","name":"Get Current Status","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.{{entity}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1130,"y":520,"wires":[["56f2c2c9.a164fc","4b7bc21e.91301c"],[]]},{"id":"bd74cda6.c1b78","type":"function","z":"ae06d5f1.16cb08","name":"Not Found","func":"let NMAP_WAIT = 2\nlet FAST_CNT = 30\nlet FAST_DELAY = 1\nlet SLOW_DELAY = 10\nlet wait = 0\n\nif ((msg.down_cnt === undefined) || (msg.down_cnt > 100000))\n  msg.down_cnt = 0;\nmsg.down_cnt++;\nmsg.payload = \"off\"\nif (msg.down_cnt < FAST_CNT)\n    msg.delay = FAST_DELAY * 1000\nelse\n    msg.delay = SLOW_DELAY * 1000\nif (msg.down_cnt > FAST_CNT) {\n    wait = ((FAST_CNT - 1) * FAST_DELAY) + (FAST_CNT * NMAP_WAIT) + (msg.down_cnt - FAST_CNT) * (SLOW_DELAY + NMAP_WAIT)\n} else {\n    wait = ((msg.down_cnt - 1) * FAST_DELAY) + (msg.down_cnt * NMAP_WAIT)\n}\nmsg.current_wait = wait\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":440,"wires":[["297cf13c.7945ce"]]},{"id":"87b1cff3.c7617","type":"inject","z":"86879709.27b488","name":"Salvatore","props":[{"p":"entity","v":"salvatore_connected","vt":"str"},{"p":"ip","v":"192.168.1.202","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":140,"y":60,"wires":[[]]},{"id":"c3c9c962.57bee8","type":"inject","z":"86879709.27b488","name":"Gloria","props":[{"p":"entity","v":"gloria_connected","vt":"str"},{"p":"ip","v":"192.168.1.201","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"15","topic":"","x":130,"y":160,"wires":[[]]},{"id":"d7f9f727.2bad78","type":"subflow:df3e74d0.6966b8","z":"86879709.27b488","name":"","env":[],"x":420,"y":60,"wires":[["d2186fc2.9dd89"]]},{"id":"bffa4757.d4ec28","type":"subflow:df3e74d0.6966b8","z":"86879709.27b488","name":"","env":[],"x":420,"y":160,"wires":[["56e9498a.58e9e8"]]},{"id":"e5452666.d03a88","type":"api-call-service","z":"df3e74d0.6966b8","name":"Set Disconnected","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.{{entity}}","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":160,"wires":[["dd36ae65.09162"]]},{"id":"f2a33bf6.a92558","type":"debug","z":"ae06d5f1.16cb08","name":"Set Connection = ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity","targetType":"jsonata","statusVal":"","statusType":"auto","x":1280,"y":160,"wires":[]},{"id":"297cf13c.7945ce","type":"switch","z":"ae06d5f1.16cb08","name":"Wait discconn timeout","property":"current_wait","propertyType":"msg","rules":[{"t":"gte","v":"180","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":520,"wires":[["d975469f.060f08"]]},{"id":"d2186fc2.9dd89","type":"debug","z":"86879709.27b488","name":"Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity & \"=\" & payload & \" down_cnt=\" & down_cnt & \" delay=\" & delay & \" current_wait=\" & current_wait","targetType":"jsonata","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"56e9498a.58e9e8","type":"debug","z":"86879709.27b488","name":"Info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entity & \"=\" & payload & \" down_cnt=\" & down_cnt & \" delay=\" & delay & \" current_wait=\" & current_wait","targetType":"jsonata","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]}]
