node-red/flows.json
[{"id":"86879709.27b488","type":"tab","label":"Home or Away","disabled":false,"info":""},{"id":"872e932c.8cdbb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2096e98.98e0d","type":"server","name":"Home Assistant","addon":true},{"id":"e447d17a.16a64","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"5bde88e3.cbd7a8","type":"server-state-changed","z":"86879709.27b488","name":"Salvatore GPS","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.salvatore","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":80,"y":400,"wires":[[],["ddd34602.618d28"]]},{"id":"6775c3f9.6bb49c","type":"server-state-changed","z":"86879709.27b488","name":"Gloria GPS","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.gloria","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":61.999996185302734,"y":452.99999618530273,"wires":[[],["10525821.7c7558"]]},{"id":"2c445e1f.06e752","type":"api-call-service","z":"86879709.27b488","name":"Set Home Occupied","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":511.0001678466797,"y":305.0000467300415,"wires":[["2bd6f171.644bae","60648673.f647b8","ca65878c.95c0f8"]]},{"id":"ddd34602.618d28","type":"api-current-state","z":"86879709.27b488","name":"Gloria GPS","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.gloria","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":280.99999618530273,"y":405.99999618530273,"wires":[[],["673673f6.cc5a3c"]]},{"id":"10525821.7c7558","type":"api-current-state","z":"86879709.27b488","name":"Salvatore GPS","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.salvatore","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":290.00002670288086,"y":459.0000171661377,"wires":[[],["673673f6.cc5a3c"]]},{"id":"14cad1f.770872e","type":"api-call-service","z":"86879709.27b488","name":"Set Away","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":708.8960227966309,"y":423.8888816833496,"wires":[["215d7121.affa6e","d13fec17.6bca8"]]},{"id":"c57f64d.2ccdf98","type":"server-state-changed","z":"86879709.27b488","name":"Gloria nmap","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.96_c0_b6_31_aa_1d","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":71.00008773803711,"y":276.00001335144043,"wires":[["46317c8d.752174"],[]]},{"id":"1450f4bd.772edb","type":"server-state-changed","z":"86879709.27b488","name":"Salvatore nmap","server":"b2096e98.98e0d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.8a_a6_21_e0_1e_22","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":79.89596176147461,"y":325.8888988494873,"wires":[["46317c8d.752174"],[]]},{"id":"46317c8d.752174","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":296.0001220703125,"y":299.0000190734863,"wires":[[],["2c445e1f.06e752"]]},{"id":"673673f6.cc5a3c","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":504.8958396911621,"y":430.8888816833496,"wires":[["14cad1f.770872e"],[]]},{"id":"4c84a673.e72928","type":"api-call-service","z":"86879709.27b488","name":"iPhone notification","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone_di_salvatore","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1390,"y":320,"wires":[[]]},{"id":"2bd6f171.644bae","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.message","pt":"msg","to":"Casa occupata","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":989.0000228881836,"y":308.99999809265137,"wires":[["4c84a673.e72928"]]},{"id":"e5b550b0.78fa","type":"api-call-service","z":"86879709.27b488","name":"Home","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":1240,"wires":[["28d3cdc3.cbbbf2"]]},{"id":"b9e8d512.a4b7c8","type":"api-call-service","z":"86879709.27b488","name":"Away","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_occupied","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":811.8958778381348,"y":1360.888879776001,"wires":[["ec465193.5c542","161f9fef.badb2"]]},{"id":"eee4ec80.c2de4","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":402.99999618530273,"y":1233.0000019073486,"wires":[[],["e5b550b0.78fa"]]},{"id":"e9c1764e.b10888","type":"api-call-service","z":"86879709.27b488","name":"iPhone notification","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_iphone_di_salvatore","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1232.9998779296875,"y":1292.9999904632568,"wires":[[]]},{"id":"28d3cdc3.cbbbf2","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.message","pt":"msg","to":"Casa occupata","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":803.9999160766602,"y":1240.0000019073486,"wires":[["e9c1764e.b10888"]]},{"id":"ec465193.5c542","type":"api-current-state","z":"86879709.27b488","name":"Lights on","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.luci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":992.9998779296875,"y":1452.9999904632568,"wires":[["f15044fa.b12468"],["92b4392e.9fd188"]]},{"id":"161f9fef.badb2","type":"api-current-state","z":"86879709.27b488","name":"Covers open","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.all","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":992.9998779296875,"y":1592.9999904632568,"wires":[["23430d7.8b5f3f2"],["5ddab02c.1b4c9"]]},{"id":"9a5bfd95.73b3a","type":"inject","z":"86879709.27b488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"home","payloadType":"str","x":118.99988174438477,"y":1206.0000305175781,"wires":[["eee4ec80.c2de4"]]},{"id":"2835e368.a27d6c","type":"inject","z":"86879709.27b488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"home","payloadType":"str","x":118.99988174438477,"y":1246.0000305175781,"wires":[["eee4ec80.c2de4"]]},{"id":"fd9b90a.a3ba07","type":"inject","z":"86879709.27b488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"away","payloadType":"str","x":129.89570999145508,"y":1367.2223930358887,"wires":[["a88d0785.9b9228"]]},{"id":"a88d0785.9b9228","type":"api-current-state","z":"86879709.27b488","name":"Home Occupied","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_occupied","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":624.9998931884766,"y":1369.000075340271,"wires":[["b9e8d512.a4b7c8"],[]]},{"id":"e90e54ef.5bd558","type":"join","z":"86879709.27b488","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1152.9998779296875,"y":1832.9999904632568,"wires":[["f0a9effb.9fb24"]]},{"id":"f15044fa.b12468","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci accese","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":662.9998779296875,"y":1692.9999904632568,"wires":[["ee418abc.eed058"]]},{"id":"ee418abc.eed058","type":"change","z":"86879709.27b488","name":"group id and count","rules":[{"t":"set","p":"parts.id","pt":"msg","to":"mygroup","tot":"str"},{"t":"set","p":"parts.count","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":972.9998779296875,"y":1832.9999904632568,"wires":[["e90e54ef.5bd558"]]},{"id":"23430d7.8b5f3f2","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle aperte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660.9998931884766,"y":1874.0001258850098,"wires":[["ee418abc.eed058"]]},{"id":"4eb70d1.b5e8af4","type":"debug","z":"86879709.27b488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1372.9998779296875,"y":1812.9999904632568,"wires":[]},{"id":"92b4392e.9fd188","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci spente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":662.8956909179688,"y":1747.5555324554443,"wires":[["ee418abc.eed058"]]},{"id":"5ddab02c.1b4c9","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle chiuse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":662.9998779296875,"y":1912.9999904632568,"wires":[["ee418abc.eed058"]]},{"id":"f0a9effb.9fb24","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"set","p":"tmp","pt":"msg","to":"$join(payload,\", \")","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.title","pt":"msg","to":"Casa vuota","tot":"str"},{"t":"set","p":"payload.data.message","pt":"msg","to":"tmp","tot":"jsonata"},{"t":"delete","p":"tmp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1182.9998779296875,"y":1692.9999904632568,"wires":[["4eb70d1.b5e8af4","e9c1764e.b10888"]]},{"id":"215d7121.affa6e","type":"api-current-state","z":"86879709.27b488","name":"Lights on","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.luci","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":934.8959617614746,"y":578.9999961853027,"wires":[["da51d53a.abeeb8"],["c28a439.89d19c"]]},{"id":"d13fec17.6bca8","type":"api-current-state","z":"86879709.27b488","name":"Covers open","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.all","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":934.8959617614746,"y":718.9999961853027,"wires":[["f8c253fd.f5ed9"],["1b6a7600.a9d85a"]]},{"id":"962d3acd.0992b8","type":"join","z":"86879709.27b488","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1604.8959617614746,"y":638.9999961853027,"wires":[["430810a9.528d8"]]},{"id":"da51d53a.abeeb8","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci accese","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1174.8959617614746,"y":538.9999961853027,"wires":[["e4437350.9b31e"]]},{"id":"e4437350.9b31e","type":"change","z":"86879709.27b488","name":"group id and count","rules":[{"t":"set","p":"parts.id","pt":"msg","to":"mygroup","tot":"str"},{"t":"set","p":"parts.count","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1424.8959617614746,"y":638.9999961853027,"wires":[["962d3acd.0992b8"]]},{"id":"f8c253fd.f5ed9","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle aperte","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1172.8959770202637,"y":720.0001316070557,"wires":[["e4437350.9b31e"]]},{"id":"e8a002ed.74b8c","type":"debug","z":"86879709.27b488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":400,"wires":[]},{"id":"c28a439.89d19c","type":"change","z":"86879709.27b488","name":"parts.index = 0","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"luci spente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1174.7917747497559,"y":593.5555381774902,"wires":[["e4437350.9b31e"]]},{"id":"1b6a7600.a9d85a","type":"change","z":"86879709.27b488","name":"parts.index = 1","rules":[{"t":"set","p":"parts.index","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"tapparelle chiuse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1174.8959617614746,"y":758.9999961853027,"wires":[["e4437350.9b31e"]]},{"id":"430810a9.528d8","type":"change","z":"86879709.27b488","name":"Notification message","rules":[{"t":"set","p":"tmp","pt":"msg","to":"$join(payload,\", \")","tot":"jsonata"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.data.title","pt":"msg","to":"Casa vuota","tot":"str"},{"t":"set","p":"payload.data.message","pt":"msg","to":"tmp","tot":"jsonata"},{"t":"delete","p":"tmp","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":999.0000228881836,"y":366.9999976158142,"wires":[["e8a002ed.74b8c","4c84a673.e72928"]]},{"id":"7567cb20.c806d4","type":"api-call-service","z":"86879709.27b488","name":"Alexa TTS","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.text_to_speech","data":"{\"entity_id\":\"script.text_to_speech\",\"variables\":{\"media_player_id\":\"media_player.2o_echo_dot_di_salvatore\",\"message\":\"{{payload}}\",\"volume_level\":25}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1530.0000076293945,"y":153.00000476837158,"wires":[[]]},{"id":"97aa42b4.63964","type":"api-current-state","z":"86879709.27b488","name":"Gloria nmap","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.96_c0_b6_31_aa_1d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":180,"wires":[["5c2ebf63.b188e"],["5c2ebf63.b188e"]]},{"id":"fa057c27.4cbef","type":"api-current-state","z":"86879709.27b488","name":"Salvatore nmap","server":"b2096e98.98e0d","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"device_tracker.8a_a6_21_e0_1e_22","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1000,"y":120,"wires":[["5c2ebf63.b188e"],["5c2ebf63.b188e"]]},{"id":"94bc2765.7d2cd8","type":"debug","z":"86879709.27b488","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":80,"wires":[]},{"id":"5c2ebf63.b188e","type":"function","z":"86879709.27b488","name":"","func":"context.data = context.data || {}\nif (msg.data.entity_id == \"device_tracker.96_c0_b6_31_aa_1d\") {\n    if (msg.data.state == \"home\") context.data.gloria_home = true\n    else                          context.data.gloria_home = false\n}\nif (msg.data.entity_id == \"device_tracker.8a_a6_21_e0_1e_22\") {\n    if (msg.data.state == \"home\") context.data.salvatore_home = true\n    else                          context.data.salvatore_home = false\n}\nif (context.data.gloria_home != null && context.data.salvatore_home != null)\n{\n    if (context.data.gloria_home && context.data.salvatore_home)\n        msg = { \"payload\": \"Bentornati a casa\" }\n    else if (context.data.gloria_home)\n        msg = { \"payload\": \"Bentornata a casa, Gloria\" }\n    else if (context.data.salvatore_home)\n        msg = { \"payload\": \"Bentornato a casa, Salvatore\" }\n    context.data = null\n} else msg = null\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":160,"wires":[["94bc2765.7d2cd8","b21cc280.2046c"]]},{"id":"a84b39bb.1aa648","type":"inject","z":"86879709.27b488","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":80,"wires":[["fa057c27.4cbef","97aa42b4.63964"]]},{"id":"60648673.f647b8","type":"api-call-service","z":"86879709.27b488","name":"Welcome","server":"b2096e98.98e0d","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on","entityId":"script.welcome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":180,"wires":[[]]},{"id":"b21cc280.2046c","type":"time-range-switch","z":"86879709.27b488","name":"","lat":"41.85157814930541","lon":"12.478328347206117","startTime":"09:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":1350,"y":160,"wires":[["7567cb20.c806d4"],[]]},{"id":"ca65878c.95c0f8","type":"delay","z":"86879709.27b488","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":260,"wires":[["97aa42b4.63964","fa057c27.4cbef"]]}]